/* --sans-seriff: "Lato", var(--sans-seriff);
  --seriff: font-family: 'Playfair Display', serif; */
:root {
  --green-color: #e5fbb8;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Playfair Display", serif;
}
.content {
  background-image: linear-gradient(to top, #0093e9 0%, #69b5e0 100%);
  color: white;
  border-bottom: 1rem solid white;
}
footer {
  background-color: white;
}
/*Header*/
header {
  margin-top: 1rem;
  background-color: #0093e9;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
.logo img {
  height: 5em;
}
.logo:hover {
  transform: rotate(180deg);
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin: 1em;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: var(--green-color);
}

/*Hero*/
.hero {
  background-image: linear-gradient(to top, #e4eaf5 0%, #0093e9 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-bottom: 1rem solid white;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 3rem;
  text-align: center;
}
.banner .hello {
  font-family: "Allura", cursive;
  font-size: 3rem;
  padding: 0 1rem 1rem;
}
.banner h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: white;
  border: 5px solid var(--green-color);
  padding: 1rem;
}
.profile-pic {
  height: 200px;
  width: 200px;
}
.profile-pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
/*Features-general*/
.feature h3 {
  font-family: "lato", sans-serif;
  font-weight: 100px;
  font-size: 2em;
  color: var(--green-color);
  letter-spacing: 2px;
}
.feature {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
}
.feature p {
  line-height: 1.5;
  size: 18px;
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
/*about-me*/
/*my-work*/
#my-work {
  margin-top: 2rem;
}
.projects {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.project {
  width: 100%;
  height: 200px;
  padding: 0;
  position: relative;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.project a img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.project-description {
  background-color: var(--green-color);
  width: fit-content;
  color: #6991c7;
  position: absolute;
  top: 2rem;
  padding: 0.5rem;
  z-index: 999;
  font-size: 15px;
}
.project-description h4 {
  font-size: 18px;
}
.dinner-menu {
  flex: 0 100%;
}
/*Contact-Me*/
#contact-me {
  background-color: white;
  display: flex;
  flex-direction: column;
}
#contact-me h3 {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: #0093e9;
  text-align: center;
  margin-bottom: 2rem;
}
.contact-me-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  flex: 1;
}
#contact-me img {
  height: 100%;
  padding: 1rem;
}
.email,
.github,
.linkedin {
  background-color: var(--green-color);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0.5rem;
  text-align: center;
}
.email a,
.github a,
.linkedin a {
  text-decoration: none;
  color: #6991c7;
  font-size: 15px;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.logo-container {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #0093e9;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  max-height: 200px;
  width: 200px;
}
footer img:hover {
  transform: rotate(180deg);
}
