/* --sans-seriff: "Lato", var(--sans-seriff);
  --seriff: font-family: 'Playfair Display', serif; */
:root {
  --green-color: #e5fbb8;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Playfair Display", serif;
}
.content {
  background-image: linear-gradient(to top, #6991c7 0%, #cbd9f3 100%);
  color: white;
  border-top: 2rem solid white;
  margin-bottom: 2rem;
}
footer {
  background-color: white;
}
/*Header*/
header {
  background-color: #6991c7;
  display: flex;
  justify-content: space-between;
  color: var(--green-color);
  padding: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 0.75px;
  line-height: 1em;
}
.logo img {
  height: 6em;
}
.logo:hover {
  transform: rotate(180deg);
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin: 1em;
  list-style: none;
  font-size: 18px;
}
header nav ul li a {
  text-decoration: none;
  color: var(--green-color);
}
/*Hero*/
.hero {
  background-image: linear-gradient(to top, #e4eaf5 0%, #6991c7 100%);
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
  color: white;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  text-align: center;
}
.banner .hello {
  font-family: "Allura", cursive;
  font-size: 3rem;
  padding: 0 1rem 1rem;
}
.banner h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: white;
  border: 5px solid var(--green-color);
  padding: 1rem 2rem;
}
.hero .profile-pic {
  height: 200px;
  width: 200px;
}
.profile-pic img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
/*Features-general*/
.feature h3 {
  font-family: "lato", sans-serif;
  font-weight: 100px;
  font-size: 2em;
  color: var(--green-color);
  letter-spacing: 2px;
}
.feature {
  padding: 1rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.feature p {
  line-height: 1.5;
  size: 18px;
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
/*about-me*/
/*my-work*/
#my-work {
  margin-top: 2rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.project {
  height: 25vh;
  width: 100%;
  margin: 0.5rem 0;
  position: relative;
}
.project a img {
  width: 100%;
  max-height: 100%;
  opacity: 0.7;
}
.project-description {
  background-color: var(--green-color);
  width: fit-content;
  color: #6991c7;
  font-family: "Lato", sans-serif;
  position: relative;
  top: -8rem;
  padding: 1rem;
  z-index: 999;
}
/*Contact-Me*/
#contact-me {
  background-color: white;
}
#contact-me h3 {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  color: #6991c7;
  text-align: center;
  margin-bottom: 2rem;
}
#contact-me img {
  height: 150px;
  padding: 1rem;
}
.contact-me-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}
.email,
.github,
.linkedin {
  background-color: var(--green-color);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0.5rem;
  text-align: center;
  display: flex;
  flex: 0 25%;
  justify-content: center;
}
.email a,
.github a,
.linkedin a {
  text-decoration: none;
  color: #6991c7;
  font-size: 15px;
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.logo-container {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #6991c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img {
  max-height: 200px;
  width: 200px;
}
